.index,
.test,
.result1,
.result2 {
  position: relative;
  display: none;
}
.show {
  display: block !important;
}
.top {
  z-index: 100;
}
* {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }
 html {
   height: 100%;
 }
 body {
   height: 100%;
   margin: 0;
 }
.result1 {
  height: 100%;
}
.test-btn {
  font-size: 14px;
  width: 10rem;
  height: 3rem;
  background-color: #54dc56;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  color: #ccc;
  -webkit-transition: all 3s;
  -o-transition: all 3s;
  -moz-transition: all 3s;
  text-align: center;
  line-height: 3rem;
  z-index: 11;
}
.test-btn-active {
  color: #fff;
  background-color: #589a59;
}
.hide {
  display: none;
}
@media only screen and (max-width: 767px){
  .index-bg {
    width: 100%;
    height: 100%;
    background-image: url(../images/home.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .test-bg {
    width: 100%;
    position: absolute;
    z-index: 10;
  }
  .test-word-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .test-word-wrap > .word {
    position: absolute;
    width: 40%;
    top: -100px;
    left: 30%;
  }
  .test-cloud-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }
  .test-cloud-wrap > .cloud {
    position: absolute;
    width: 100%;
  }
  .result1 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .show-result1 {
    background-image: url(../images/einstein/einstein.gif);
    display: block !important;
  }

  .transition {
    -webkit-transition: all 4s ease-in;
    -o-transition: all 4s ease-in;
    -moz-transition: all 4s ease-in;
  }
  
  .moveToBottomLeft {
    -webkit-transition: all 4s ease-in;
    -o-transition: all 4s ease-in;
    -moz-transition: all 4s ease-in;
    /*transform: scale(4) translateY(300px) translateX(-100px);*/
    transform: scale(5) translateY(1000px) translateX(-100px);
  }
  .moveToBottomRight {
    -webkit-transition: all 4s ease-in;
    -o-transition: all 4s ease-in;
    -moz-transition: all 4s ease-in;
    transform: scale(5) translateY(1000px) translateX(100px);
  }
  .test-p {
    position: absolute; top: 100px;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    font-size: 20px;
  }
  .result1-bg,
  .result1-cloud,
  .result1-out {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  .result1-out {
    z-index: 100;
  }
  .result1-btn-wrap {
    position: absolute;
    z-index: 110;
    bottom: 6px;
    right: 8px;
    width: 100%;
    text-align: right;
    display: none;
  }
  .share {
    width: 80px;
  }
  .testAgain {
    width: 80px;

  }
}
.index-btn {
  width: 100%;
  display: block;
  height: 70%;
  border-radius: 50%;
}
